In [26]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
csv_path= "Instructions/HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csv_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [27]:
#player count
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [28]:
#Purchasing Analyst
    #unique items
unique_items = len(purchase_data['Item ID'].unique())

    #average price
avg_price= purchase_data['Price'].mean()

    #number of purchases
total_purchases= len(purchase_data['Purchase ID'])

    #total revenue
total_revenue= sum(purchase_data['Price'])

    #dataframe
df = pd.DataFrame({
    'Unique items': unique_items,
    'Average Price': '${:.2f}'.format(avg_price),
    'Total Purchases': total_purchases,
    'Total Revenue': '${:.2f}'.format(total_revenue)
},index=[0])

print(df)

   Unique items Average Price  Total Purchases Total Revenue
0           183         $3.05              780      $2379.77

In [29]:
### Age Demographics
    #establish bins
bins = [0, 9, 14, 19, 24, 29, 34, 400]

group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '40+']

In [32]:
#categorize the existing players using the age bins
purchase_data['age_group'] =  pd.cut(purchase_data['Age'], bins, labels=group_labels)
#groupby
players_by_age = purchase_data.groupby('age_group').SN.nunique()

#create dataframe to show total count and percentage of total players for each group
age_demo = pd.DataFrame({
    'Total Count': players_by_age,
    'Percentage of Players': (players_by_age / purchase_data.SN.nunique() * 100).map("{:.2f}".format)
})
age_demo.head()

           Total Count Percentage of Players
age_group
<10                 17                  2.95
10-14               22                  3.82
15-19              107                 18.58
20-24              258                 44.79
25-29               77                 13.37